<div class="contents row">
  <% @tweet.eache do |tweet| %>
    <div class="content_post" style="backgroud-image: url(<%= tweet.image %>);">
      <p><%= tweet.text %></p>
      <span class="name">
        <%= tweet.name %>
      </span>
    </div>
  <% end %>
</div>