<div class="contents row">
  <P><%= @nickname %>さんの投稿一覧</P>
  <% @tweets.each do |tweet| %>
      <div class="content_post" style="backgroud-image: url(<%= tweet.image %>);">
        <p><%= tweet.text %></p>
      </div>
  <% end %>
</div>